body
{
    font-family: 'garamond', serif;    
}

section > video
{
    width: 100%;
}

section:nth-of-type(1) > div
{
    position: absolute;
    text-align: center;

    color: white;

    /*justify-content: center;*/
    top:175px;
    width:100%;
    z-index: 1;
}

h1
{
    font-size: 3.5rem;
}

h2
{
    font-size: 2rem;
}

section:nth-of-type(1)
{
    height: 90vh;
    overflow-y: hidden;
    min-height: 430px;
}

/*****************************************************/

section:nth-of-type(2)
{
    color:whitesmoke;
    height: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(60deg,#D9C09C 25%, #5C4428);

    font-size: 1em;
    font-family: "Malgun Gothic", 'Arial', sans-serif;
}
section:nth-of-type(2) h3
{
    font-size: 2em;
    margin: 25px 0px 25px 0px;
}

section:nth-of-type(2) > img
{
    height: 550px;
    margin-left: 150px;
}

section:nth-of-type(2) > div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 35%;
    margin-right: 10%;
}

section:nth-of-type(2) > div > div
{
    margin: 10px 0px 10px 0px;
}

#commander
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
}

#commander a
{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 20px;
    font-weight: bold;

    transition: 0.5s;
}

#commander a:hover
{
    transform: translateX(7px);
    transition: 0.5s;
}


/*****************************************************/

section:nth-of-type(3)
{
    height: 600px;

    display: flex;
    flex-direction: row;
}

#selecteurSplitJs
{
    width: 5px;
    background-color: #DAB76D;
    cursor: e-resize;
}

#selecteurSplitJs > div
{
    width: 100px;
    height: 30px;
    margin-left: -45px;
    margin-top: 50vh;
}


:root
{
    --position-selecteur-split: 50vw;   /* Au milieu de la largeur de l'écran*/
    --marge-ecran-splite-droit:0px
}

#selecteurSplitJs img
{
    width: 25px;
    height: 25px;
    position: absolute;
}

#selecteurSplitJs img:first-of-type
{
    left: calc(var(--position-selecteur-split) - 45px);
}

#selecteurSplitJs img:last-of-type
{
    left: calc(var(--position-selecteur-split) + 5px);
}


#splitChocolatJsGauche, #splitChocolatJsDroit
{
    width: 50%;
    height: 100%;
    overflow-x:hidden;
}

#splitChocolatJsGauche
{
    background-color: #6A4242;
}

#splitChocolatJsDroit
{
    background-color: #462C20;
}

.contenuDivise
{
    /*  Les dimensions prennent toute la largeur de la fenêtre de manière à cacher une partie du div*/
    width: 100vw;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenuDivise > h2
{
    width: 365px;
    color: whitesmoke;
    font-size: 2.5em;
}

#margeSplitJs
{
    margin-left: calc(var(--marge-ecran-splite-droit) - 50vw);
}

