body
{
    margin: 0px;
}

header
{
    height: 110px;
    background-color: #514848;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 1.2em;
    transition: 0.5s;

    position: fixed;
    width: 100%;
    margin: 0px;
    top: 0;
}

header img
{
    width: 180px;
    box-sizing: border-box;

}

header > nav
{
    right: 50px;
    position: absolute;
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-around;
}

header a
{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
header a:hover
{
    color: #DAB76D;
    transition: 0.5s;
}

header > div
{
    position: absolute;
    left: 50px;

    display: flex;
    flex-direction: row;
    width: 75px;
    justify-content: space-between;
}

header > div > a > svg
{
    height: 30px;
}

/* Nécessaire même si on controle la couleur des logos des réseaux sociaux en JS */
.couleurLogoInstagram, .couleurLogoPinterest
{
    fill:#dab76d;
}

@media screen and (max-width: 1200px) 
{
    header > nav
    {
        width: 400px;
    }
}

@media screen and (max-width: 1040px)
{
    header > nav
    {
        width: 300px;
        right: 10px;
    }
}

@media screen and (max-width: 750px)
{
    /*header > nav, header > div
    {
        display: none;
    }*/

    header
    {
        height: 275px;
        background-color: #514848;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        transition: 0.5s;
        position: fixed;
        width: 100%;

        justify-content: initial;
    }

    header > div
    {
        position: absolute;
        left: 50px;
        display: flex;
        width: 75px;
        justify-content: space-between;
        top: 15px;
    }

    header > a > img
    {
        position: relative;
        z-index: 10;
    }

    header a
    {
        text-decoration: none;
        color: white;
        transition: 0.5s;
        position: relative;
        top: 15px;
    }

    header > nav
    {
        flex-direction: column;
        margin-top: 40px;
        align-items: inherit;

        width: initial;
        position: relative;
    }

    header > nav > a
    {
        padding: 10px 5px 10px 5px;
    }

    header > div > a
    {
        display: none;
    }
}