/* Position du div générale*/
header ~ div{
    margin-top: 5%;
}

/* Dimensions du div texte */
.textes{
    width: 70%;
    height: 50%;
    padding-left: 25%;
    padding-top: 1%;
    font-size: 1.5em;
    font-family: "garamond", serif;

}

/* Position et style du texte */
div > p{
    margin-top: 10%;
    background-color: #6a4242;
    padding: 2%;
    color: white;
    padding-bottom: 15%;
}

/* Style des lien cliquables "info" */
.info{
    color: rgb(255, 240, 193);
    text-decoration: none;
}

/* Changement de couleurs de fond du 2e div*/
div:nth-of-type(2)>p{
    margin-top: 10%;
    background-color: #391d1d;
    padding: 2%;
    color: white;
    padding-bottom: 15%;
}

/* Changement de couleurs de fond du 4e div*/
div:nth-of-type(4)>p{
    margin-top: 10%;
    background-color: #391d1d;
    padding: 2%;
    color: white;
    padding-bottom: 15%;
}

/* Style du titre */
div > h2{
    margin-top: 10%;
    margin-left: 25%;
    font-family: "Malgun Gothic", 'Arial', sans-serif;
    font-size: 2em;
}