section img
{
    height: 500px;
}

section
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section:first-of-type
{
    margin-top: 130px;
}

section:first-of-type > div:first-of-type
{
    display: flex;
    flex-direction: column;
}

section:first-of-type > div:first-of-type > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section:first-of-type > div:first-of-type > div > img
{
    width: 50px;
    height: auto;
}


/*----------------------------      Rectangle d'achat       --------------------*/
section:first-of-type > div:nth-of-type(2)
{
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 515px;
    box-sizing: border-box;

    padding: 20px;

    box-shadow: 0 0px 5px 5px #CCCCCC;
    border-radius: 5px;
}

section:first-of-type > div:nth-of-type(2) h2
{
    font-size: 1.55em;
}

section:first-of-type > div:nth-of-type(2) h1
{
    font-size: 3.1em;
    margin: 8px 0px 8px 0px;
    font-family: 'Arial', sans-serif;
    color: #A86A4D;
}

section:first-of-type > div:nth-of-type(2) p
{
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
}

section:first-of-type > div:nth-of-type(2) > div:first-of-type
{
    overflow-y: auto;
}

section:first-of-type > div:nth-of-type(2) > p:last-of-type
{
    text-align: center;
    color: #462C20;
    cursor: pointer;
    font-size: 0.85em;
    transition: 0.5s;
}

section:first-of-type > div:nth-of-type(2) > p:last-of-type:hover
{
    transition: 0.5s;
}

section:first-of-type > div:nth-of-type(2) > p ~ div :first-child
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section:first-of-type > div:nth-of-type(2) > div:last-of-type
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
section:first-of-type > div:nth-of-type(2) > p ~ div :first-child img
{
    border: solid 1px #343434;
    padding:5px 15px 5px 15px;
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}
section:first-of-type > div:nth-of-type(2) > p ~ div :first-child img:hover
{
    background-color: #A86A4D;
    transition: 0.5s;
    cursor: pointer;
}
Equivalent de:*/

section:first-of-type > div:nth-of-type(2) img
{
    border: solid 1px #343434;
    padding:5px 15px 5px 15px;
    margin: 0px 5px 0px 5px;
    transition: 0.5s;

    height: 60px;
    width: auto;
}

section:first-of-type > div:nth-of-type(2) img:hover
{
    background-color: #A86A4D;
    transition: 0.5s;
    cursor: pointer;
}

/***********************************************           Gestion du input             **************************************/

/*Permet de masquer les petites flèche de l'input number*/
input[type="number"]
{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    height: 37px;
    box-sizing: border-box;
    color: #462C20;

    padding: 0px 10px 0px 0px;
    margin: 0px;
    text-align: end;
    border-top: solid 2px #462C20;
    border-bottom: solid 2px #462C20;
    background-color: #e2d9d5;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
{ 
    -webkit-appearance: none;
}

/*Permet de gérer le fieldset et de faire croire à l'utilisateur qu'il s'agit d'un unique champs html (au lieu de 3)*/
section:first-of-type fieldset
{
    display: flex;
    flex-direction: row;
    height: 35px;
    box-sizing: border-box;
    margin: 15px 0px 15px 0px;
    padding: 0px;
    border: 0px;
}

.selecteurQuantite
{
    width: 37px;
    height: 37px;
    box-sizing: border-box;
    margin: 0px -1px 0px -1px;       /* Permet d'éviter un espace miniature entre les boutons (dû à la taille du texte)*/
    padding: 7px;
    border: solid 2px #462C20;
    background-color: #e2d9d5;
    cursor: pointer;
    transition: 0.5s;
}

.selecteurQuantite:hover
{
    background-color: #cca99a;
    transition: 0.5s;
}