.parent > img{
    /* width: 100px; */
    width: 5%;
    margin-top: 2%;
    margin-left: 5%;
    transition: 0.5s;
}

p:first-child{
    font-size: 2em;
}

div > img:hover {
    width: 6%;
    transition: 0.5s;
}

div.enfant{
    font-size: 1em;
    font-family: "garamond", serif;
    /* display: none; */
    position: absolute;
    top: 16%;
    /* margin-top: 10%; */
    margin-left: 11%;
    padding: 1%;
    color: white;

    width:83%;
    height: 75%;

    transition: 0.6s;
    opacity: 0%;
}


div.parent:hover .enfant{
    transition: 0.6s;
    opacity: 100%;
}

#recolte{
    background-color: #3c8844;
}

#préparation{
    background-color: #81b62a;
}

#transport{
    background-color: #b69c2a;
}

#fabrication{
    background-color: #b65d2a;
}

#vente{
    background-color: #573219;
}

link ~ img{
    position: absolute;
    top: 16%;
    margin-left: 11%;


    width:83%;
    height: 79%;    
}